<h1><center>Bienvenu sur mon blog</center></h1>
<p><center>Bonjour, je me présente c'est moi Alky, j'ai <%= @age %> ans!</center>
<center> Venez participer à mes <a href="http://localhost:3000/voyages">voyages</a> !</center></p>
